.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-primary hr {
    border-top-color: #9fcdff;
}

.alert-primary .alert-link {
    color: #002752;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-secondary hr {
    border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
    color: #202326;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-warning hr {
    border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

@-webkit-keyframes greenPulse {
    from { border:1px dashed #749a02; -webkit-box-shadow: 0 0 9px #333; }
    50% { border:1px dashed #91bd09; -webkit-box-shadow: 0 0 28px #91bd09; }
    to { border:1px dashed  #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes greenPulse {
    0% { border:1px dashed #749a02; box-shadow: 0 0 9px #333; }
    50% { border:1px dashed #91bd09;shadow: 0 0 18px #91bd09; }
    100% { border:1px dashed  #749a02; shadow: 0 0 9px #333; }
}
.J_ButtonWaitWrap {margin-bottom: 25px;overflow: visible !important;position: relative;    margin-top: 10px;text-decoration:none;}
.J_ButtonWaitWrap .qg-l-box{float: left;display: inline-block;position: relative;z-index:999999;}
.J_ButtonWaitWrap #qg_down_time,.qg-kq-txt{color: #FF0036;
    font-weight: bolder;
    font-family: Arial;}
.J_ButtonWaitWrap a#kaiqiang_btn,.J_ButtonWaitWrap a#kaiqiang_btn:hover{
    float: right;background: #2da77a;color: #ffffff;padding: 10px 25px;
    cursor: pointer; text-decoration:none;
}
.J_ButtonWaitWrap #kaiqiang_btn.qg-red-btn{background-color:#ff0036;}
.place-select-prop{animation:greenPulse 2s ease infinite;-webkit-animation:greenPulse 2s ease infinite;}
#qg_info_alert {margin-bottom: 10px;display: none;}
.tb-clear{clear: both}
.piaoyi{position: fixed;z-index: 999999999;right: 1000px;top:300px;width: 418px;
    height: 418px;}
.J_ButtonWaitWrap a#qg_setting,.J_ButtonWaitWrap a#qg_setting:hover{width:90px;cursor: pointer; text-decoration:none; color: #280;font-weight: bolder;display: block;}
#qg_form{position: absolute;top: 100%;display: none;left: 0px;background: #fff;
    border: 1px solid #e0e0e0 \9;
    border-top: 0 \9;padding: 25px 10px 35px 20px;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);width: 560px;}
#qg_form ul.qg-frist-ul{padding-right: 50px; display: inline-block;
    border-right: 1px solid rgb(204, 205, 207); }
#qg_form ul.qg-frist-ul li {margin-bottom: 10px;width: 215px;}
#qg_form .qg-form-shuoming{display: block;margin-top:30px;  }
#qg_form .qg-form-shuoming li{line-height: 25px;color: #666666;}
.qg-gzh{float: right;width: 230px;height: 230px;    margin-right: 39px; text-align: center;color: #280;}

#qg_by_auto_time{color: #280;font-weight: bold;cursor: pointer;text-decoration:none;margin-left: 10px;     padding-right: 20px;}
.qg-quan{    background: #fffaf9;
    border: 1px solid #ff8f82;float: right;
    font-size: 12px;
    display: inline-block;
    color: #ff550c!important;cursor: pointer;
    position: relative;
    overflow: visible;
    margin-right: 10px;
    border: 1px red dotted;
    padding: 5px 5px 5px 10px;
    top: 8px;
}

.qg-quan:hover{text-decoration:none;}
.qg-quan span.txt{
    display: inline-block;padding-right:5px;
}
.qg-quan-list{position: absolute;z-index: 9999999;
    width: 338px;border: 1px red solid;background: #fff;
    right: 0px;display: none;
    top: 50px; }
.quan-ul-list-content{height: 300px;overflow-y: scroll;position: relative;z-index: 0;}
.qg-list-arrow{position: absolute;
    top: -13px;z-index: 99999;
    left: 50%;}
.qg-list-arrow:after,.qg-list-arrow:before {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: red;
    position: absolute;
    content: "";
}
.qg-list-arrow:after{
    top: 1px;
    border-bottom-color: #ffffff;
}
.qg-quan-load{position: absolute;text-align: center;
    top:50%;margin-top: -15px;left:50%;margin-left: -15px;
    z-index: -1;
    color: darkorange;}
.quan-ul-list{    background: #fff;}
.quan-ul-list li{display: block;    margin: 15px 20px 20px 18px;}
.fl{float: left;}
.fr{float:right;}
#seller_quan a.quan-head{height: 25px;   border: 1px #ffffff dotted;   margin: 5px;
    padding-right: 10px;
    line-height: 25px;
    background-position: -125px -25px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    font-family: Arial;
    padding-left: 8px;
    background-color: #3abec0;
}
#seller_quan a.quan-head-red{background-color: #fd7778;}
.quan-head:hover,.quan-lingqu:hover{text-decoration:none;cursor: pointer;}
.quan-content{display: inline-block;}
.coupon-title{    color: #6D6D6D;}
.coupon-time{    color: #A5A5A5;font-family: Tahoma;}
.quan-lingqu{display: inline-block;
    width: 47px;
    height: 23px;margin: 5px;
    border: 1px solid #E9E9E9;
    line-height: 23px;
    text-align: center;
}
#seller_quan a.coupon-unreceived{color: #666;cursor: pointer;}
#seller_quan a.coupon-received{color: #C9C9C9;
    border-color: transparent;
    _border-color: #fff;
    width: 50px;
    border-width: 1px 0;
}
.cl{clear: both;width: 100%;height: 0;}
#detail .tb-property-x .tb-meta{z-index:1;}