<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人管理中心</title>
    <link rel="stylesheet" href="lib/layui/css/layui.css">
    <link rel="stylesheet" href="css/popup.css">
</head>
<body>
<div class="layui-tab layui-tab-brief" id="main">
    <ul class="layui-tab-title">
        <li v-for="(v,k) in tab.li" :class="{'layui-this':k==liSelectIndexLocal}" @click="tabSelect(k);">
            <i v-if="v.icon" :class="[{ 'layui-icon': 1 }, v.icon]"></i> {{v.text}}
            <span v-if="v.badge" :class="[v.badge.class]" >{{v.badge.text}}</span>
        </li>
    </ul>
    <div class="layui-tab-content">
        <div :class="{'layui-tab-item':1,'layui-show':liSelectIndexLocal==0}">
            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col>
                    <col width="170">
                    <col width="130">
                </colgroup>
                <thead>
                <tr>
                    <th>图片</th>
                    <th>标题</th>
                    <th>抢购时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(v,k) in tab.li[0].data.data">
                        <td><a :href="v.url" target="_blank">
                            <img v-lazy="'https:'+tab.li[0].data.desc[v.num_iid].images[1]"
                                 :key="'https:'+tab.li[0].data.desc[v.num_iid].images[1]" width="60">
                            </a>
                        </td>
                        <td class="title"><div>{{tab.li[0].data.desc[v.num_iid].title}}</div></td>
                        <td>{{timestampToTime(v.start_time)}}</td>
                        <td>
                            <a class="layui-btn layui-btn-xs" :href="v.url" target="_blank">查看</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" @click="delQg(k)">删除</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div id="page0"></div>
        </div>
        <div :class="{'layui-tab-item':1,'layui-show':liSelectIndexLocal==1}">
            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col>
                    <col width="170">
                    <col width="130">
                </colgroup>
                <thead>
                <tr>
                    <th>图片</th>
                    <th>标题</th>
                    <th>抢购时间</th>
                    <th id="jb-info">金币 <i class="layui-icon layui-icon-rmb" style="color: #FFB800;"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(v,k) in tab.li[1].data.data">
                    <td><a :href="v.url" target="_blank">
                        <img v-lazy="'https:'+tab.li[1].data.desc[v.num_iid].images[1]"
                             :key="'https:'+tab.li[1].data.desc[v.num_iid].images[1]" width="60">
                    </a>
                    </td>
                    <td class="title"><div>{{tab.li[1].data.desc[v.num_iid].title}}</div></td>
                    <td>{{timestampToTime(v.start_time)}}</td>
                    <td>
                        <strong style="color: #FF5722;">0</strong>
                    </td>
                </tr>

                </tbody>
            </table>
            <div id="page1"></div>
        </div>
        <div :class="{'layui-tab-item':1,'layui-show':liSelectIndexLocal==2}">
            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col>
                    <col width="170">
                    <col width="130">
                </colgroup>
                <thead>
                <tr>
                    <th>图片</th>
                    <th>标题</th>
                    <th style="color: #5FB878;font-weight: bold">聚划算价</th>
                    <th>
                        <div class="select">
                            <select @change="maiDianSelect" v-model="maiDianSelectValue" >
                                <option value="">全部卖点</option>
                                <option value="pre_people">前n名特价</option>
                                <option value="pre_time">前n分钟优惠</option>
                                <option value="order_reduction">下单立减</option>
                                <option value="full_reduction">满减商品</option>
                                <option value="second_discount">第n件打m折</option>
                            </select>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(v,k) in tab.li[2].data.data" :title="v.jhs.usp_desc_list.join('  ')">
                    <td><a :href="'https://detail.tmall.com/item.htm?id='+v.num_iid" target="_blank">
                        <img v-lazy="'https:'+v.images[0]"
                             :key="'https:'+v.images[0]" width="60">
                    </a>
                    </td>
                    <td class="title"><div>{{v.title}}</div></td>
                    <td><strong class="price">￥{{v.price}}</strong>
                        <span class="org-price">{{v.jhs.orig_price}}</span><br>
                    <span class="hot-qiang">抢：{{timestampToTime(v.start_time*1000)}}</span>
                    </td>
                    <td>
                        <span class="layui-badge" v-for="(v1,k1) in v.jhs.price_usp_list">
                            {{v1}}
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
            <div id="page2"></div>
        </div>
        <div :class="{'layui-tab-item':1,'layui-show':liSelectIndexLocal==3}"></div>
        <div :class="{'layui-tab-item':1,'layui-show':liSelectIndexLocal==4}"></div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/vue-lazyload.js"></script>
<script src="js/vue.min.js"></script>
<script src="lib/layui/layui.js"></script>
<script src="js/wxLogin.js"></script>
<script src="js/popup.js"></script>
</body>
</html>